@import "/ui/styles/settings.scss";
@import "/ui/styles/rootbody.scss";

.root
{

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu
{
    width: 50%;
    height: 50%;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(black, 0.4);

    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .setting-option
    {
        width: 100%;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;

        .setting-name
        {
            color: white;
            font-weight: 600;
            font-size: 42px;
        }
    }

}

.btn-back
{
    top: 100px;
    color: white;
    text-shadow: 10px 10px black;
    font-family: Poppins;
    font-size: 92px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.05s ease-in;
    transform: scale( 1 );
    z-index: 1000;

    &:hover
    {
        transform: scale( 1.1 );
    }
}